REPO_TYPE=repository # use `template` if you are trying to update the template itself

TF_VARS_MAIN_FILE_NAME=main
TF_VARS_INGRESS_FILE_NAME=ingress
KUBECTL_WATCH_DEFAULT_RESOURCES="po svc ing"
DEFAULT_ENVIRONMENT_NAME=dev

TEMPLATE_REPO_ORIGIN=template
TEMPLATE_REPO_URL=https://github.com/utkusarioglu/terraform-eks-repo-template.git
TEMPLATE_LAST_COMMIT_EPOCH=166404893 #asdfsd
