# This file stores configuration for the template repo to
# update its own template.
# 
# These values are only relevant if you are running the repo in 
# `REPO_MODE=template`. If the repo is in template mode, the scripts
# will first look at `.template.config` for the values.
TEMPLATE_REPO_ORIGIN=parent-template
TEMPLATE_REPO_BRANCH=main
TEMPLATE_REPO_URL=https://github.com/utkusarioglu/terraform-kubernetes-repo-template.git
TEMPLATE_LAST_COMMIT_EPOCH=0 # 1970
